<!DOCTYPE html>

<html>
<head>
	<meta charset=utf-8 />
	<title>Modest Maps JS Demo | Spotlight</title>
</head>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" type="text/css" href="/css/accordion.min.css" />
<link href="/css/map.css" rel="stylesheet" type="text/css" />
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="/css/navbar.css" rel="stylesheet" type="text/css" />
<link href="/css/sidebar.css" rel="stylesheet" type="text/css" />
<link href="/css/login.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Rubik:300,400,500,700' rel='stylesheet' type='text/css'>
<body>
	<%- include navmenu.ejs %>
	<%- include sidebar.ejs %>
	<div id="map"></div>
	<div class="banner-wrapper">
	<div class="distance-banner">
		<div class="banner-title">Distance Mode</div>
		<div class='distance-container'>Total Distance: <div id='distance'>...</div>km</div>
	</div>
	<div class="controls-wrapper">
		<div id="control"><i class ="icon" data-feather="x"></i></div>
		<div id="control"><i class ="icon" data-feather="trash-2"></i></div>
	</div>
</div>
</body>
<script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
<script src='https://rawgithub.com/stamen/modestmaps-js/master/modestmaps.min.js'></script>
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js'></script>
<script src="/js/map.js"></script>
<script src="/js/getUsers.js"></script>
<script src="/js/accordion.min.js"></script>
<script src="/js/sidebar.js"></script>
<script src="/js/navbar.js"></script>
<script>
feather.replace()
</script>
</html>
