{% load sass_tags %}
{% load static %}


<link href="{% sass_src 'css/login.scss' %}" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Rubik:500' rel='stylesheet' type='text/css'>

<div class="main-page-wrapper">
	<div id="smokejumper-title">SmokeJumper</div>
  {% if not current_user %}
    <form action="{% url 'dashboard:log_in' %}" method="post">
      {% csrf_token %}
      <label><input class="form-element" type="text" placeholder="Email" name="email"></label>
      <label><input class="form-element" type="password" placeholder="Password" name="password"></label>
      <input class="login-logout" type="submit" value="SIGN IN">
    </form>
  {% else %}
    <a class="login-logout" href="{% url 'dashboard:log_out' %}">LOG OUT</a>
  {% endif %}
</div>
