<!-- {% extends "base.html" %}

{% block map %}
{% csrf_token %}

{% load sass_tags %}
<link href="{% sass_src 'css/map.scss' %}" rel="stylesheet" type="text/css" />

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div id='map'>
	{{ map|safe }}
</div>
{% endblock %} -->
