<div id="navbar" class="sidenav">
	 <div class="close-button" onclick="closeNav()"><i data-feather="minus"></i></div>
	 <div class="nav-element"><i class ="icon" data-feather="map"></i> Map</div>
	 <div class="nav-element"><i class ="icon" data-feather="users"></i> Firefighters</div>
	 <div class="nav-element"><i class ="icon" data-feather="user"></i> Account</div>
	 <a href = 'login' class="nav-element"><i class ="icon" data-feather="settings"></i> Settings</a>
	 <div class="open-button" onclick="openNav()"><i class ="icon" data-feather="menu"></i></div>
</div>
