<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <link href="/css/index.css" rel="stylesheet" type="text/css" />
  <body>
    <div class="box"><h2>Hello World <%= name %><h2></div>
  </body>
  <script src="/js/index.js"></script>
</html>
