html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

body{
	margin: 0;
	padding: 0;
	//font-family: 'Rubik', sans-serif;
	font-size: 15px;
}

* { margin:0; padding:0; }

@mixin easing(){
	-webkit-transition-timing-function: cubic-bezier(0.5,0,0,1);
	-moz-transition-timing-function: cubic-bezier(0.5,0,0,1);
	-o-transition-timing-function: cubic-bezier(0.5,0,0,1);
	transition-timing-function: cubic-bezier(0.5,0,0,1);
}

#map { position:absolute; top:0; bottom:0; width:100%; }

::-webkit-scrollbar {
	width: 2px;
	background: rgb(14, 41, 111); /* make scrollbar transparent */
}

.box{
	display: block;
	position: absolute;
	width: 300px;
	height: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	background: #FCFC89;
	border-radius: 5px;
}
