html, body {
  width: 100%;
  height: 100%; }

/* just to be sure these are full screen*/
body {
  margin: 0;
  padding: 0;
  font-size: 15px; }

* {
  margin: 0;
  padding: 0; }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

::-webkit-scrollbar {
  width: 2px;
  background: #0e296f;
  /* make scrollbar transparent */ }

.box {
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background: #FCFC89;
  border-radius: 5px; }
