@import 'vars';
html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
}

* { margin:0; padding:0; }

// canvas{
// 	display: block;
// 	position: absolute !important;
// 	width: 100vw !important;
// 	height: 100vh !important;
// }

@mixin easing(){
	-webkit-transition-timing-function: cubic-bezier(0.5,0,0,1);
	-moz-transition-timing-function: cubic-bezier(0.5,0,0,1);
	-o-transition-timing-function: cubic-bezier(0.5,0,0,1);
	transition-timing-function: cubic-bezier(0.5,0,0,1);
}

#map { position:absolute; top:0; bottom:0; width:100%; }

::-webkit-scrollbar {
	width: 2px;
	background: $accent-red; /* make scrollbar transparent */
}
