#main {
    position: fixed;
}

#sidebar {
    position: fixed;
    float: right;
    width: 200px;
    height: 100%;
    background-color: #042902;
    right: 0;
    transition: all 500ms linear;
}

#sidebar.active {
    right: 0px;
}

#sidebar ul li {
    list-style: none;
}

#sidebar ul a {
    color: yellow;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
}

#sidebar ul a:focus .active {
    color: lightgreen;
}

#sidebar .toggle-btn {
    position: fixed;
    right: 230px;
    top: 20px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: #151719;
    margin: 5px 0px;
}

.icons {
    right: 10px;
}
