.rightbar {
  height: 75px;
  width: 400px;
  border-radius: 10px;
  display: block;
  position: fixed;
  z-index: 999;
  top: 20px;
  right: -8px;
  background: #0C212E;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.4s all ease-in-out;
  -webkit-box-shadow: 10px 10px 75px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 75px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 75px -5px rgba(0, 0, 0, 0.5); }

.hover-on:hover {
  transform: scale(0.99);
  -webkit-box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75); }

.hover-off {
  transform: scale(0.99);
  -webkit-box-shadow: 10px 10px 75px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 75px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 75px -5px rgba(0, 0, 0, 0.5); }

.rightbar .open-button {
  color: #E8393A;
  position: absolute;
  cursor: pointer;
  text-align: center;
  top: 22px;
  left: 50%;
  transform: translatex(-50%);
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  z-index: 99;
  transition: .3s all ease-in-out; }
  .rightbar .open-button:hover {
    color: #F2C934; }

.sidebar-close-button {
  display: none;
  color: #E8393A;
  position: absolute;
  top: 28px;
  z-index: 99;
  left: 20px;
  cursor: pointer;
  font-size: 1.2em;
  transition: .2s all ease-in-out; }
  .sidebar-close-button:hover {
    color: #F2C934; }

.fillerelement {
  opacity: 0;
  height: 75px;
  width: 80%;
  margin: 0 auto;
  text-decoration: none; }

.icon {
  position: relative;
  top: 5px; }

.sidebar-element-wrapper {
  display: none;
  height: 100%;
  background: #0C212E;
  position: relative;
  overflow-y: scroll; }

.sidebar-element {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
	supported by Chrome and Opera */
  display: none;
  position: relative;
  padding: 5px;
  min-height: 50px;
  width: 100%;
  text-align: center;
  font-size: 1em;
  letter-spacing: 3px;
  box-sizing: border-box;
  margin: 25px auto;
  border-left: solid 20px;
  transition: .2s all ease-in-out; }
  .sidebar-element .label {
    display: block;
    color: white !important;
    cursor: pointer;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: left;
    width: 85%; }
  .sidebar-element .content {
    display: block;
    margin: 0 auto;
    text-align: left;
    color: white;
    width: 75%;
    font-size: 1em; }

.sidebar-element:nth-child(5n+1) {
  color: #4FB99F; }

.sidebar-element:nth-child(5n+2) {
  color: #409FD6; }

.sidebar-element:nth-child(5n+3) {
  color: #F2B134; }

.sidebar-element:nth-child(5n+4) {
  color: #D271D6; }

.sidebar-element:nth-child(5n+5) {
  color: #F7D1CD; }

.selected {
  border-left: solid 3px; }
  .selected .label {
    color: inherit !important; }

.title {
  color: inherit !important; }

.content .list-item {
  display: block;
  text-align: left;
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
	supported by Chrome and Opera */ }

.content #pin-card {
  display: block;
  float: right;
  opacity: 0.5;
  text-align: left;
  font-size: 0.8em;
  cursor: pointer;
  transition: .2s all ease-in-out; }
  .content #pin-card:hover {
    opacity: 1; }

.detail-card {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 440px;
  width: 450px;
  height: 250px;
  border-radius: 10px;
  color: #2A363B;
  opacity: 1;
  transition: all 0.5s;
  -webkit-box-shadow: 10px 10px 75px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 75px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 75px -5px rgba(0, 0, 0, 0.5); }
  .detail-card .name {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    margin: 30px 0 0 50px;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 3px; }

#detail-close {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.4em;
  cursor: pointer;
  text-align: center; }

.flex-wrapper {
  position: absolute;
  top: 100px;
  height: 125px;
  width: 450px;
  border-radius: 15px; }

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: inherit;
  height: inherit; }

.flex-item {
  width: 150px;
  height: 50px;
  margin: 0 25px 0 25px;
  padding-left: 15px;
  box-sizing: border-box; }

.flex-item:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.flex-item:nth-child(2) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.flex-item:nth-child(3) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.flex-item:nth-child(4) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.detail-label {
  font-size: 1em;
  opacity: 0.7;
  letter-spacing: 2px; }

.detail-label-selected {
  color: #E8393A !important; }

.detail {
  margin-left: 10px;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 2px; }

.detail-unit {
  display: inline-block;
  font-weight: 400 !important;
  font-size: 0.8em !important;
  opacity: 0.9;
  letter-spacing: 2px; }
